@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Nie daj się zaskoczyć w biurze, zarezerwuj sobie biurko.</h1>
    
</div>
<div class="">
    <img src="~/images/logo-no-background.png" style="width: 100%;">
</div>
